/node_modules
/public/hot
/public/storage
/public/img/
/storage/*.key
/storage/temp/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
.env
/public/css/all.css
